@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  font-size:xxx-large;
  font-weight: 550;
  margin-bottom: -20px;
  align-items: center;
  width: 500px;
  justify-items: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  width: 500px;
  font-size:xx-large;
  font-weight: 450;
}

form input {
  min-width:110%;
  font-size:60%;
  border-radius: 20px;
  align-self: center;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.5);
}


.submit-button {
  /* background:linear-gradient(196deg, rgb(70, 175, 70), rgb(38, 7, 122), rgb(109, 10, 190)); */
  background: linear-gradient(233deg, #34cda7, #4da5d8,#8278d9, #5d4de9);
  width: fit-content;
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 14px;
  font-size:18px;
  color: white;
  margin-bottom: 40px;
}

.submit-button:hover {
  background: #2cae8d;
}


.nft{
  display: flex;
  flex-direction: column; 
  background: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 70px;
  padding: 25px;
}


.nftname{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nftimg{
  max-width: 170px;
  max-height: 200px;
  object-fit: contain;
  align-self: center;
}